body {
    font-family: 'Baloo Chettan 2', cursive;
  }

#banner {
    background-image: url('../picture/allocation_banner.jpg');
    background-size: 100% auto;
}

#banner_textblock {
    background-color: rgba(255, 255, 255, 0.5);;
    padding: 20px;
}

#banner h1, #banner p{
    text-align: center;
}

.table_div{
    padding: 0px 15% 50px;
}

#toEnroll_div {
    text-align: center;
}