body {
    font-family: 'Baloo Chettan 2', cursive;
  }

#banner {
    background-image: url('../picture/master_ academicStaff.jpg');
    background-size: 100% auto;
}

#banner_textblock {
    background-color: rgba(255, 255, 255, 0.5);;
    padding: 20px;
}

#banner h1, #banner p{
    text-align: center;
}

.table_div{
    padding: 0px 5% 50px;
}

.action_button {
    margin: 5px;
}

.create_button_div {
    text-align: right;
    padding: 10px;
}

